[submodule "public"]
	path = public
	url = https://github.com/mpilquist/mpilquist.github.io
	branch = master
[submodule "nofancy"]
	path = themes/nofancy
	url = https://github.com/mpilquist/hugo-theme-nofancy
	branch = master
